
.icon-confetti:before { content: '\e800'; } /* '' */
.icon-spotlights:before { content: '\e801'; } /* '' */
.icon-karaoke:before { content: '\e802'; } /* '' */
.icon-jazz:before { content: '\e803'; } /* '' */
.icon-guitar:before { content: '\e804'; } /* '' */
.icon-skyline:before { content: '\e805'; } /* '' */
.icon-skyscraper:before { content: '\e806'; } /* '' */
.icon-restaurant:before { content: '\e807'; } /* '' */
.icon-bed:before { content: '\e808'; } /* '' */
.icon-cityscape:before { content: '\e80c'; } /* '' */
.icon-airplane-shape:before { content: '\e80f'; } /* '' */
.icon-international-delivery:before { content: '\e811'; } /* '' */
.icon-island-with-two-trees:before { content: '\e812'; } /* '' */
.icon-sun-umbrella:before { content: '\e813'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */